<div class="placeholder">
    <div class="placeholder__content-wrapper">
        <img class="placeholder__image" src="{{imagePath}}">
        <span class="placeholder__text">{{text}}</span>
        <button class="placeholder__button" type="button">{{buttonText}}</button>
    </div>
</div>