@import '../../static/styles/mixins.scss';

.cart {
    display: flex;
    justify-self: center;
    width: 1229px;
    margin-top: 38px;

    @include respond-to(smallLaptop) {
        width: 95vw;
        margin-top: 0;
    }

    &__main-section {
        @include respond-to(tablet) {
            margin-bottom: 17vh;
        }
    }

    &__buy {
        position: sticky;
        top:96px;
        z-index: 1;
        width: 240px;
        height: fit-content;
        background-color: white;
        border-radius: 19px;
        display: flex;
        flex-direction: column;
        padding: 29px 25px 29px 25px;
        margin-right: 29px;
        @include box-shadow-with-hover;

        @include respond-to(tablet) {
            position: fixed;
            top: 83vh;
            height: 88px;
            width: calc(95vw - 50px);
            box-shadow: 0 -2px 11px var(--box-shadow-color);
        }
    }

    &__items {
        font-size: 19px;
        display: flex;
        margin-bottom: 19px;

        @include respond-to(phone) {
            font-size: 16px;
        }
    }

    &__price {
        font-size: 19px;
        margin-left: auto;

        @include respond-to(phone) {
            font-size: 16px;
        }
    }

    &__title {
        font-size: 29px;

        @include respond-to(phone) {
            font-size: 26px;
        }
    }

    &__buy-button,
    &__empty-button {
        height: 48px;
        font-size: 17px;
        color: white;
        background-color: var(--color-primary75);
        border-radius: 13px;
        border: 1px solid var(--color-primary75);
        transition: background-color 0.5s ease,
                    border-color 0.5s ease;

        &:hover {
            background-color: var(--color-primary100);
            border-color: var(--color-primary100);
        }

        @include respond-to(phone) {
            font-size: 16px;
            height: 44px;
        }
    }

    &__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 19px;
        background-color: white;
        padding: 29px;
        border-radius: 15px;
        box-shadow: 0 4px 5px var(--box-shadow-color);
        transition: box-shadow 0.5s ease;

        &:hover {
            box-shadow: 0 4px 10px var(--box-shadow-color);
        }

        &-wrapper {
            width: 1229px;
            height: 576px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-image {
            width: 96px;
        }

        &-text {
            font-size: 19px;
        }

        &-button {
            width: 192px;
        }
    }
}

.adverts {
    background-color: white;
    border-radius: 15px;
    padding: 29px;
    display: flex;
    width: 854px;
    margin-bottom: 19px;
    @include box-shadow-with-hover;

    @include respond-to(smallLaptop) {
        width: calc(95vw - 377px);
    }

    @include respond-to(tablet) {
        width: calc(95vw - 50px);
        padding: 25px;
    }

    @include respond-to(phone) {
        padding: 20px;
        width: calc(95vw - 40px);
    }

    &__information {
        display: flex;
        width: min(40vw, 500px);

        @include respond-to(tablet) {
            width: calc(80vw - 165px);
        }

        @include respond-to(phone) {
            flex-direction: column;
            width: 54vw;
        }
    }

    &__image {
        height: 115px;
        width: 115px;
        object-fit: cover;
        border-radius: 6px;
    }

    &__title {
        margin: 0 0 0 19px;
        font-size: 19px;
        font-weight: 300;

        @include respond-to(tablet) {
            width: 50vw;
            overflow-wrap: anywhere;
        }

        @include respond-to(phone) {
            width: unset;
            margin-top: 10px;
            font-size: 16px;
            order: 2;
        }
    }

    &__price {
        font-size: 23px;
        margin: 0 0 0 auto;

        @include respond-to(phone) {
            font-size: 20px;
            order: 1;
            margin-left: 19px;
        }
    }

    &__icons {
        margin-left: auto;
        width: 70px;
        display: flex;
        justify-content: space-between;

        @include respond-to(tablet) {
            width: 10vw;
        }

        @include respond-to(phone) {
            flex-direction: column;
            height: 70px;
            width: unset;
            margin-left: 5px;
        }
    }

    &__like-button {
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover > path {
            stroke: var(--color-like-hover-outline);
        }

        &.liked {
            fill: var(--color-like);

            & > path {
                stroke: var(--color-like);
            }

            &:hover {
                fill: var(--color-like-hover);

                & > path {
                    stroke: var(--color-like-hover);
                }
            }
        }
    }

    &__remove-button {
        align-self:baseline;
        cursor: pointer;

        & > path {
            transition: all 0.5s ease;
        }

        &:hover > path {
            stroke: var(--color-error);
        }
    }

    @include respond-to(phone) {
        &__like-button,
        &__remove-button {
            width: 26px;
            height: 26px;
        }
    }
}

.non-visible {
    opacity: 0;
}
  