<section class="promotion__overlay">
    <div class="promotion__content-wrapper">
        <h1 class="promotion__title">Продвижение объявления</h1>
        <div class="promotion__main-section">
            <aside class="promotion__card-mock card-mock">
                <span class="card-mock__wrapper">
                    <div class="card-mock__image-wrapper"></div>
                    <span class="card-mock__price"></span>
                    <div class="card-mock__title"></div>
                </span>
            </aside>
            <div class="promotion__information">
                <span class="promotion__details">Ваше объявление будет появляться в ленте выше остальных и привлекать внимание выделяющейся синей рамкой</span>
                <span class="promotion__duration">• Продвижение будет действовать <span class="promotion__duration--bold">7 дней</span></span>
                <span class="promotion__price">• Стоимость услуги <span class="promotion__price--bold">50₽</span></span>
            </div>
        </div>
        <button class="promotion__proceed-button">Продвинуть за 50₽</button>
    </div>
</section>