@font-face {
    font-family: logo;
    src: url(../fonts/Comfortaa.ttf);
}

@font-face {
    font-family: inter;
    font-weight: 400;
    src: url(../fonts/Inter-Regular.otf);
}

@font-face {
    font-family: inter;
    font-weight: 500;
    src: url(../fonts/Inter-Medium.otf);
}

@font-face {
    font-family: inter;
    font-weight: 700;
    src: url(../fonts/Inter-Bold.otf);
}