.features {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 4;
    width: 500px;
    height: 510px;
    top:50%;
    left:50%;
    margin-top: -255px;
    margin-left: -500px;
    background-color: #CDCDCD;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: height 0.3s ease, margin-top 0.3s ease;
}



.features_logo {
    font-family: 'logo';
    font-size:36px;
    margin-left: 43px;
    margin-top: 57px;
}

.feature {
    display: flex;
    flex-direction: row;
    font-family: medium;
    font-size: 16px;
    align-items: center;
    margin-top: 40px;
    margin-left: 43px;
}

object {
    margin-right: 10px;
}

.auth {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    width: 500px;
    height: 510px;
    top:50%;
    left:50%;
    margin-top: -255px;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: height 0.3s ease, margin-top 0.3s ease;
}

.authorization {
    font-family: bold;
    font-size: 36px;
    margin-top: 57px;
    margin-left: 71px;
}

.authorization_details {
    font-family: medium;
    font-size: 16px;
    color: #6B6B6B;
    margin-left: 71px;
    margin-top: 20px;
}

.authorization_error {
    font-family: medium;
    font-size: 16px;
    color: #FF0000;
    margin-left: 71px;
    margin-top: 20px;
}

.input_wrapper {
    height: 49px;
    width: 348px;
    margin-top: 59px;
    margin-left: 71px;
    color: #9D9D9D;
}

.input_login {
    height: 45px;
    width: 328px;
    border: 1px solid #9D9D9D;
    border-radius: 15px;
    font-family: regular;
    font-size: 16px;
    padding-left: 20px;
}

.input_email {
    height: 45px;
    width: 328px;
    margin-top: 20px;
    border: 1px solid #9D9D9D;
    border-radius: 15px;
    font-family: regular;
    font-size: 16px;
    padding-left: 20px;
}

.input_password {
    height: 45px;
    width: 328px;
    border: 1px solid #9D9D9D;
    margin-top: 20px;
    border-radius: 15px;
    padding-left: 20px;
    font-family: regular;
    font-size: 16px;
}

.input_password_wrapper {
    position: relative;
    
}

.eye {
    position: absolute;
    top:45%;
    right: 0;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    background: url(static/eye.svg);
}

.visibility {
    background: url(static/eye_closed.svg);
}

.authorization_enter {
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    width: 354px;
    height: 49px;
    font-family: medium;
    font-size: 16px;
    color: #ffffff;
    background-color: #406AFF;
    border: 2px solid #406AFF;
}

.registration_link {
    font-family: medium;
    font-size: 16px;
    color: #6B6B6B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.registration_link.link {
    color: #406AFF;
    cursor: pointer;
}

.authorization_link {
    font-family: medium;
    font-size: 16px;
    color: #6B6B6B;
}

.authorization_link.link {
    color:#406AFF;
    margin-left: 20px;
    cursor: pointer;
}

.registration {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    width: 500px;
    height: 510px;
    top:50%;
    left:50%;
    margin-top: -255px;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: height 0.3s ease, margin-top 0.3s ease;
}

.expand {
    height: 630px;
    margin-top: -315px;
}

.not_active {
    display: none;
}