.main,
.cards-wrapper  {
    display: grid;
}

.category-title {
    font-size: 38px;
    margin-left: 346px;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    width: 1233px;
    flex-direction: row;
    margin-top: 19px;
    margin-bottom: 19px;
    justify-self: center;
    flex-wrap: wrap;
    row-gap: 19px;
    column-gap: 29px;
}
  
