.main {
    display: grid;
}

.cards_wrapper {
    display: grid;
    width: 960px;
    justify-self: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-self: center;
    flex-wrap: wrap;
}

/* img {
    max-width: 100%;
    height: auto;
} */