@import '../../static/styles/mixins.scss';

.orders {
    display: flex;
    flex-direction: column;
    width: 845px;
    margin-left: 19px;
    margin-bottom: 30px;
    gap: 19px;

    @include respond-to(smallLaptop) {
        width: 72vw;
    }

    @include respond-to(tablet) {
        width: unset;
        margin-left: 0;
        margin-bottom: 100px;
    }

    &__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 19px;
        background-color: white;
        padding: 29px;
        border-radius: 15px;
        box-shadow: 0 4px 5px var(--box-shadow-color);
        transition: box-shadow 0.5s ease;

        &:hover {
            box-shadow: 0 4px 10px var(--box-shadow-color);
        }

        &-wrapper {
            width: 768px;
            height: 576px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond-to(tablet) {
                width: unset;
                height: unset;
            }
        }

        &-image {
            width: 96px;
        }

        &-text {
            font-size: 19px;
        }

        &-button {
            width: 192px;
        }
    }

    &__empty-button {
        height: 48px;
        font-size: 17px;
        color: white;
        background-color: var(--color-primary75);
        border-radius: 13px;
        border: 1px solid var(--color-primary75);
        transition: background-color 0.5s ease,
                    border-color 0.5s ease;

        &:hover {
            background-color: var(--color-primary100);
            border-color: var(--color-primary100);
        }
    }
}

.order {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 5px var(--box-shadow-color);
    height: fit-content;
    padding: 19px;
    display: flex;

    @media (max-width: 800px) {
        flex-wrap: wrap;
    }

    @include respond-to(phone) {
        font-size: 14px;
    }

    &__main-information-wrapper {
        display: flex;
        width: 70%;
        @include respond-to(phone) {
            width: 100%;
        }
    }

    &__image {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        object-fit: cover;
        
        @include respond-to(phone) {
            width: 100px;
            height: 100px;
        }
    }

    &__avert-information {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        gap: 20px;
    }

    &__order-information {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 20px;

        @media (max-width: 800px) {
            margin-left: 165px;
        }

        @include respond-to(phone) {
            margin-left: 115px;
        }
    }

    &__phone {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__price {
        margin-block: 0;
        font-size: 20px;
    }

    &__vertical-line {
        width: 1px;
        height: initial;
        background-color: var(--color-secondary25);
        
        @media (max-width: 800px) {
            display: none;
        }
    }

    &__delivery-method {
        @media (max-width: 800px) {
            margin-top: 10px;
        }
    }

    &__status {
        font-weight: 600;
    }

    &__address {
        font-style: normal;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__title {

        @include respond-to(tablet) {
            margin: 0;
        }
    }

    @include respond-to(phone) {
        &__status,
        &__title {
            font-size: 14px;
        }
    }

}