<div class="settings-container">
    <h2 class="settings_title">Личные данные</h2>
    <div class="settings_content">

        <div class="settings_content_item">
            <label class="settings_label">Имя</label>
            <input type="text" id="name" class="settings_input" placeholder="Имя">
        </div>

        <div class="settings_content_item">
            <label class="settings_label">Город</label>
            <input type="text" id="city" class="settings_input" placeholder="Город">
        </div>

        <div class="settings_content_item">
            <label class="settings_label">Почта</label>
            <input type="email" id="email" class="settings_input" placeholder="Почта" >
        </div>

    </div>
</div>

<div class="settings-container">
    <h2 class="settings_title">Фотография профиля</h2>
    <div class="settings_content">
        <div class="settings_content_item">
            <button type="submit" class="settings_button">Загрузить фотографию</button>
        </div>

        <div class="settings_content_item">
            <img src="" alt="Фотография профиля" class="settings_image">
        </div>
        
    </div>
</div>

<div class="settings-container">
    <h2 class="settings_title">Безопасность и вход</h2>
    <div class="settings_content">

        <div class="settings_content_item">
            <label class="settings_label">Пароль</label>
            <input type="password" id="password" class="settings_input" placeholder="Пароль">
        </div>

        <div class="settings_content_item">
            <label class="settings_label">Новый пароль</label>
            <input type="password" id="new_password" class="settings_input" placeholder="Новый пароль">
        </div>
        <div class="settings_content_item">
            <button type="submit" class="settings_button">Изменить пароль</button>
        </div>

        <div class="settings_content_item">
            <label class="settings_label">Подтверждение пароля</label>
            <input type="password" id="confirm_password" class="settings_input" placeholder="Подтверждение пароля" >
        </div>
        
    </div>
</div>
