.orders {
    display: flex;
    flex-direction: column;
    width: 845px;
    margin-left: 19px;
    gap: 19px;

    &__order {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 4px 5px var(--box-shadow-color);
        height: fit-content;
        padding: 19px;
    }

    &__status {
        font-weight: 600;
    }

    &__title {
        margin-left: 96px;
    }

    &__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 19px;
        background-color: white;
        padding: 29px;
        border-radius: 15px;
        box-shadow: 0 4px 5px var(--box-shadow-color);
        transition: box-shadow 0.5s ease;

        &:hover {
            box-shadow: 0 4px 10px var(--box-shadow-color);
        }

        &-wrapper {
            width: 768px;
            height: 576px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-image {
            width: 96px;
        }

        &-text {
            font-size: 19px;
        }

        &-button {
            width: 192px;
        }
    }

    &__empty-button {
        height: 48px;
        font-size: 17px;
        color: white;
        background-color: var(--color-primary75);
        border-radius: 13px;
        border: 1px solid var(--color-primary75);
        transition: background-color 0.5s ease,
                    border-color 0.5s ease;

        &:hover {
            background-color: var(--color-primary100);
            border-color: var(--color-primary100);
        }
    }
}
