.user {
    display: flex;
    justify-self: center;
    width: 64vw;
    margin-top: 2vw;

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
        margin-left: 1.2vw;
        width: fit-content;
    }

    &__title {
        font-size: 2vw;
        margin-left: 1.2vw;
        margin-top: 0;
    }

    &__wrapper {
        width: fit-content;
    }
}

.aside {
    width: 14vw;
    height: fit-content;
    background-color: white;
    border-radius: 0.8vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 5px var(--box-shadow-color);
    padding: 1vw;
    // position: absolute;

    &__user {
        &-section {
            display: flex;
            flex-direction: column;
            gap: 0.8vw;
        }
        &-img {
            width: 4vw;
            border-radius: 100%;
        }

        &-name {
            margin: 0;
            font-size: 1.5vw;
        }

        &-timestamp {
            color: var(--color-secondary50);
            font-size: 0.85vw;
        }
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    gap: 1vw;

    &__adverts,
    &__orders,
    &__settings, 
    &__logout {
        display: flex;
        align-items: center;
        font-size: 0.85vw;
        cursor: pointer;
        transition: color 0.5s ease;

        &.active {
            font-weight: 600;
        }

        &:hover {
            color: var(--color-primary50);
        }
    }

    &__icon {
        margin-right: 0.5vw;
    }
} 