<div class="card">
    <img src="../../static/images/no.png" class="card_img">
    <span class="card_details">{{title}}<object type="image/svg+xml" data="../../static/images/like.svg"></object></span>
    <span class="price">{{price}}</span>
</div>
