<div class="card">
    <div class="card__image-wrapper"><img class="card__image" src="{{apiUrl}}{{imageUrl}}"></div>
    <div class="card__details">{{title}}<img src="../../static/images/like.svg"></div>
    <span class="card__price">{{price}}₽</span>
</div>