<div class="card">
    <div class="card__image-wrapper"><img class="card__image" src="{{baseUrl}}{{imageUrl}}"></div>
    <span class="card__price">{{price}} ₽ <img class="card__like" src="../../static/images/like.svg"></span>
    <div class="card__details">{{title}}</div>
</div>