<div class="card">
    <div class="card_image_wrapper"><img class="card_image" src="{{apiUrl}}{{image_url}}"></div>
    <div class="card_details">{{title}}<img src="../../static/images/like.svg"></div>
    <span class="price">{{price}}₽</span>
</div>