<h1 class="create-avert__title">Создание объявления</h1>
<form class="create-avert__avert-form avert-form">
    <label class="avert-form__label-category" for="ctaegory">Категория</label>
    <select class="avert-form__select" name="category" id="category">
        {{#each category}}
        <option class="avert-form__option" value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label class="avert-form__label" for="name">Название товара</label>
    <div class="avert-form__input-wrapper">
        <input class="avert-form__name-input" id="name" name="title" type="text" maxlength="45">
        <span class="avert-form__additional">Название должно быть не длиннее 45 символов</span>
    </div>

    <label class="avert-form__label" for="price">Цена</label>
    <div class="avert-form__price">
        <input class="avert-form__price-input" id="price" name="price" type="number">
        <span class="avert-form__ruble">₽</span>
    </div>

    <label class="avert-form__label" for="description">Описание</label>
    <div class="avert-form__input-wrapper">
        <textarea class="avert-form__description-input" id="description" name="description" maxlength="3000"></textarea>
        <span class="avert-form__additional">Описание должно быть не длиннее 3000 символов</span>
    </div>

    <label class="avert-form__label" for="image">Фотография</label>
    <div class="avert-form__input-wrapper">
        <input class="avert-form__image-input" id="image" type="file">
        <label class="avert-form__upload-box" for="image">
            {{#if imagePreview}}
            <img class="avert-form__upload-box-image big" src="../../static/images/image.svg">

            {{else}}
            <img class="avert-form__upload-box-image" src="../../static/images/image.svg">
            <span class="avert-form__upload-box-text">Добавить</span>
            <span class="avert-form__upload-box-text-additional">jpg или jpeg</span>
            {{/if}}
        </label>
    </div>

    <label class="avert-form__label"  for="address">Адрес</label>
    <div class="avert-form__input-wrapper">
        <input class="avert-form__address-input" id="address" name="location" type="text" maxlength="150">
        <span class="avert-form__additional">Адрес должен быть не длиннее 150 символов</span>
    </div>

    <button class="avert-form__submit" type="submit">Разместить объявление</button>
</form>