
<div class="wrap">
    <div class="menu-item img"></div>
    <div class="menu-item name">Имя</div>
    <div class="menu-item date">С нами с 2024 года</div>
    <div class="menu-item container">
        <button class="item" onclick="myAdverts()">Мои объявления</button>
        <button class="item" onclick="myOrders()">Мои заказы</button>
        <button class="item" onclick="myFavourites()">Избранное</button>
        <button class="item" onclick="mySettings()">Настройки</button>
    </div>
</div>

