<section class="price-history__overlay">
    <div class="price-history__content-wrapper">
        <h2 class="price-history__title">История изменения цены</h1>
        <h1 class="price-history__current-price">{{currentPrice}}₽</h1>
        <span class="price-history__all-time-range">Диапазон цен: {{lowestPrice}} - {{heighestPrice}} ₽</span>
        <canvas class="price-history__canvas" width="600" height="300"></canvas>
    </div>
</section>